.div1 {
  text-align: right;
}

#div2 {
  display: flex;
  flex-wrap: wrap;
}

body {
  padding: 2rem 2rem;
  font-family: "poppins";
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
}
